<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
  <title>Warning !!!</title>
</head>

<body>
  <center>
    <div class="container" style=" max-width: 768px; max-height: 100%;">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <div style=" margin-top: 5%;">
            <h2 class="font"
              style="text-align: center;color: #640101; font-family: 'Montserrat'; font-size: 28px; font-weight: 800">
              Hi {{name}} , this is warning email about sensor 
              <!-- (User Name) -->
            </h2>
            <p style="margin-left: 3%; font-family:'Montserrat' !important; color: #181818; font-size: 25px ">
                    Sensor ID :  &nbsp; {{id}}       
            </p>
            <p style="margin-left: 3%; font-family:'Montserrat' !important; color: #181818; font-size: 25px ">
                    Co2 Level : &nbsp;   {{co2}}       
            </p>
            <p style="margin-left: 3%; font-family:'Montserrat' !important; color: #181818; font-size: 25px ">
                    Smoke Level :  &nbsp;  {{smoke}}       
            </p>
          </div>
        </div>
        <div class="row justify-content-center" style="padding-top: 1%; margin-left: 1%">
          <hr style="color: #4b4f56;">
         
          <div class="row justify-content-center">
            <h5 style="font-family:'Montserrat'; color:#BFBFBF;  text-align: center; font-size: 17px;">
              #StaySafe #SensorsManagement
            </h5>
          </div>
  </center>
  </div>
  </div>

  <hr style="color: #4b4f56; " />
  <table style="margin-top: -20px; background-color:#2c3e50; width: 100%;">
    <tr>
      <th>
        <h5 style="color: #ecf0f1; padding-left: 5px; font-size: 15px;"> <i class="fa fa-copyright"
            style="font-size:20px;color:#ecf0f1;"></i> 2020 Sensors Management </h5>
      </th>
      <th>
        <h5 style="color: #ecf0f1; padding-left: 5px; font-size: 15px;"> #SecureWorld </h5>
      </th>
      <th>
        <h5 style="color: #ecf0f1; padding-left: 5px; font-size: 15px;"> #SensorsManagement </h5>
      </th>

    </tr>
  </table>
  <script>
    function redirect(e) {
      window.open(e)
    }
  </script>
  </center>
  </div>
</body>

</html>